*.tfstate
*.tfstate.backup
*.tfstate.lock.info

.terraform/

*.tfvars
*.tfvars.json

!outputs.tfvars
!variables.tfvars

crash.log
crash.*.log
*.err
*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json


.tflint.hcl
.terraform.tfstate.lock.info